@import url("/vizsgaremek/src/web/css/montserrat-font.css");

body {
    background-color: #1E1E1E;
}


.body-container {
    margin-top: 10vh;
}

.main {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Montserrat";
}

.title-wrapper {
    width: 100%;
}

.link {
    color: rgb(54, 169, 177);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid rgb(54, 169, 177);
}

.link-wrapper {
    border: none;
    transition: all 0.3s ease;
    position: relative;
}

.link-wrapper:hover::before {
    transform: scaleX(1);
}

.link-wrapper::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.4s ease;
}

.title-item-wrapper {
    display: flex;
    padding: 10px;
}

.modal-wrapper {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(35, 35, 35, 0.9);
}

.modal-popup {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start;
    width: 500px;
    min-height: 150px; 
    margin: 10px;
    padding: 10px;
    border: 4px solid rgb(5, 107, 17);
    background-color: white;
    color: black;
    border-radius: 4px;
    position: relative;
}

#button_okay {
    border: 2px solid black;
    text-align: center;
    color: black;
    align-content: center;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 150px;
    transition: all 0.2s ease-out;
    text-decoration: none;
}

#button_okay:hover {
    background-color: rgb(5, 107, 17);
    color: white;
}

.error-modal-wrapper {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(35, 35, 35, 0.9);
}

.error-modal-popup {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start;
    width: 500px;
    min-height: 150px; 
    margin: 10px;
    padding: 10px;
    border: 4px solid rgb(182, 19, 19);
    background-color: white;
    color: black;
    border-radius: 4px;
    position: relative;
}

.error-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: flex-end; 
    width: 100%;
    margin-top: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    margin-inline: 20px;
}

.col:first-of-type {
    margin: auto 0;
    margin-left: 10px;
    margin-right: 10px;
}

.col:nth-of-type(2) {
    width: 100%;
}

.svg-like-wrapper,
.svg-dislike-wrapper {
    border-radius: 50%;
}

.like-svg-empty,
.dislike-svg-empty {
    display: block;
}

.like-svg-full,
.dislike-svg-full {
    display: none;
}

.svg-like-wrapper:hover .like-svg-empty {
    display: none;
    cursor: pointer;
}

.svg-like-wrapper:hover .like-svg-full {
    display: block;
    cursor: pointer;
}

.svg-dislike-wrapper:hover .dislike-svg-empty {
    display: none;
    cursor: pointer;
}

.svg-dislike-wrapper:hover .dislike-svg-full {
    display: block;
    cursor: pointer;
}

.svg-like-wrapper.checked .like-svg-empty {
    display: none;
}

.svg-like-wrapper.checked .like-svg-full {
    display: block;
}

.svg-dislike-wrapper.checked .dislike-svg-empty {
    display: none;
}

.svg-dislike-wrapper.checked .dislike-svg-full {
    display: block;
}

.checkout {
    color: white;
    text-decoration: none;
    width: 20%;
    height: 5%;
    min-width: fit-content;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(84, 53, 194);
    transition: all 0.3s ease;
}

.checkout:hover {
    cursor: pointer;
    width: 22%;
    background-color: rgb(95, 62, 216);
}

.upvote-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-group > .title-item:first-child {
    font-weight: 700;
    text-decoration: underline;
}

.title-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

hr {
    background: linear-gradient(to right, rgb(83, 83, 83), rgb(60, 60, 60));
    border: none;
    height: 2px;
    margin: 15px 0;
}

.title-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: white;
}

#container {
    margin: 0 auto;
    margin-top: 20px;
    height: 55dvh;
    width: 100%;
}


/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-color: #1E1E1E;
        font-family: "Montserrat";
    }

    .body-container {
        margin-top: 8%;
    }
    
    .main {
        width: 100%;
        height: 95dvh;
    }
    
    .title-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: max-content;
    }
    
    .title-item-wrapper {
        color: rgb(255, 255, 255);
        width: fit-content;
        font-size: 16px;
        padding: 10px;
        width: 100%;
    }
    
    .title-group {
        justify-content: space-between;
        display: flex;
        flex-direction: row;;
    }
    
    .title-item {
        display: flex;
        align-items: center;
    }
    
    hr {
        background: linear-gradient(to right, rgb(83, 83, 83), rgb(60, 60, 60));
        border: none;
        height: 3px;
    }

    #container {
        height: 65dvh;
    }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
    body {
        background-color: #1E1E1E;
        font-family: "Montserrat";
    }
    
    .main {
        width: 100%;
        height: 95dvh;
    }
    
    .title-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: max-content;
    }
    
    .title-item-wrapper {
        color: rgb(255, 255, 255);
        width: fit-content;
        font-size: 16px;
        padding: 10px;
        width: 100%;
    }
    
    .title-group {
        justify-content: space-between;
        display: flex;
        flex-direction: row;;
    }
    
    .title-item {
        display: flex;
        align-items: center;
    }
    
    hr {
        background: linear-gradient(to right, rgb(83, 83, 83), rgb(60, 60, 60));
        border: none;
        height: 3px;
    }

    #container {
        height: 65dvh;
    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    body {
        background-color: #1E1E1E;
        font-family: "Montserrat";
    }
    
    .main {
        width: 100%;
        height: 95dvh;
    }
    
    .title-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: max-content;
    }
    
    .title-item-wrapper {
        color: white;
        width: fit-content;
        font-size: 20px;
        padding: 15px;
        width: 100%;
    }
    
    .title-group {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 5px;
    }
    
    .title-item {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    hr {
        background: linear-gradient(to right, rgb(83, 83, 83), rgb(60, 60, 60));
        border: none;
        height: 3px;
    }

    #container {
        height: 65dvh;
    }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
    .title-item-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        min-height: max-content;
    }

    hr {
        background: linear-gradient(to right, rgb(83, 83, 83), rgb(60, 60, 60));
        border: none;
        height: 3px;
    }

    #container {
        height: 75dvh;
    }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
    body {
        background-color: #1E1E1E;
        font-family: "Montserrat";
    }
    
    .main {
        width: 100%;
        height: 95dvh;
    }
    
    .title-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: max-content;
    }
    
    .title-item-wrapper {
        color: white;
        width: fit-content;
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }
    
    .title-group {
        justify-content: space-between;
        display: flex;
        flex-direction: row;;
    }
    
    .title-item {
        display: flex;
        align-items: center;
    }
    
    hr {
        background: linear-gradient(to right, rgb(83, 83, 83), rgb(60, 60, 60));
        border: none;
        height: 3px;
    }

    #container {
        height: 65dvh;
    }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-color: #1E1E1E;
        font-family: "Montserrat";
    }
    
    .main {
        width: 100%;
        height: 95dvh;
    }
    
    .title-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: max-content;
    }
    
    .title-item-wrapper {
        color: white;
        width: fit-content;
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }
    
    .title-group {
        justify-content: space-between;
        display: flex;
        flex-direction: row;;
    }
    
    .title-item {
        display: flex;
        align-items: center;
    }
    
    hr {
        background: linear-gradient(to right, rgb(83, 83, 83), rgb(60, 60, 60));
        border: none;
        height: 3px;
    }

    #container {
        height: 65dvh;
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        background-color: #1E1E1E;
        font-family: "Montserrat";
    }
    
    .main {
        width: 100%;
        height: 95dvh;
    }
    
    .title-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: max-content;
    }
    
    .title-item-wrapper {
        color: white;
        width: fit-content;
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }
    
    .title-group {
        justify-content: space-between;
        display: flex;
        flex-direction: row;;
    }
    
    .title-item {
        display: flex;
        align-items: center;
    }
    
    hr {
        background: linear-gradient(to right, rgb(83, 83, 83), rgb(60, 60, 60));
        border: none;
        height: 3px;
    }

    #container {
        height: 65dvh;
    }
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
    body {
        font-family: "Montserrat";
        background-color: #1E1E1E;
    }
    
    .main {
        width: 100%;
        z-index: 2;
        height: 95dvh;
        margin-top: 30px;
        padding: 0;
    }

    .title-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .title-item-wrapper {
        background-color: rgb(36, 36, 36);
        width: 80%;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px;
        padding: 20px;
        font-size: 20px;
        border-radius: 16px;
    }

    .title-item {
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 5px;
    }

    .title-group > .title-item:first-child {
        font-weight: 700;
        text-decoration: underline;
    }

    .col:nth-of-type(2) {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    hr {
        display: none;
    }

    #container {
        height: 65dvh;
        width: 90%;
    }
}