@import url("/src/web/css/montserrat-font.css");

body {
    font-family: "Montserrat";
}

.page-cover {
    margin: 0;
    padding: 0;
    all: unset;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: linear-gradient(180deg, #2F2F2F 0%, #4A4A4A 100%);
}