body {
    background-color: #222831;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background-color: #393E46;
    color: #EEEEEE;
    padding: 30px;
    text-align: left;
    border: 3px solid darkgrey;
    border-radius: 10px;
    width: 500px;
    align-items: center;
}

.inline-group {
    display: flex;
    flex-direction: column;
}

.inline-text {
    padding-left: 7%;
    text-align: left;
    margin: 5px;
    font-size: 18px;
    text-shadow: #292929 1px 1px;
    font-weight: 600;
}

.inline-input {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    height: 26px;
    align-self: center;
    box-shadow: #292929 2px 2px;
    border-radius: 5px;
    border: 2px solid #cccccc;
    width: 85%;
    transition: transform 0.3s ease-out, border 0.2s ease-out, border-color 0.3s ease-out, background-color 0.3s ease-out;
    outline: none;
}

.inline-input:focus {
    outline: none;
    border-color: black;
    transform: scale(1.05);
}

.inline-input:hover {
    transform: scale(1.05);
}

#inline-link-group {
    justify-content: center;
    color: black;
    text-align: center;
    margin: 20px;
    border: gray 1px solid;
    border-radius: 4px;
    background-color: #BCD4E6;
    height: 15%;
    min-height: 50px;
    text-shadow: none;
}

#login-text {
    text-shadow: none;
    text-align: center;
    padding-left: 0px;
}

.inline-link {
    color: #4682B4;
}

.inline-link:hover {
    color: #2e5575;
}

.inline-link:active {
    color: #58b1fa;
}

.inline-error {
    text-align: left;
    color: #dc3545;
    font-size: 14px;
    margin-left: 7%;
}

.inline-button {
    cursor: pointer;
    width: 30%;
    height: 44px;
    font-size: 16px;
    color: white;
    background-color: #6c757d;
    align-self: center;
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 4px;
    transition: background-color 0.2s ease-out, border 0.2s ease-out;
    outline: none;
}

.inline-button:hover {
    background-color: #222831;
}

.inline-button:active {
    border: 2px solid white;
    color: #222831;
    background-color: white;
}

.title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-shadow: #292929 2px 2px;
}

.error-group {
    background-color: #dc3545;
    text-align: center;
    padding: 5px;
    margin: 10px;
    color: white;
    border: white 2px solid;
    border-radius: 3px;
    min-width: 50px;
    min-height: 50px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: monospace;
}

@media screen and (max-width: 850px) {

}

@media screen and (max-width: 600px) {
    .container {
        background-color: #222831;
        width: 90%;
        padding-top: 0px;
        border: 0px;
    }
    
    .title {
        margin-top: 0px;
        font-size: 40px;
        font-weight: bold;
    }
    
    .inline-text {
        text-align: center;
        font-size: 20px;
        padding: 5px;
        margin: 5px;
    }
    
    .inline-input {
        width: 100%;
        height: 20px;
        padding: 10px;
    }

    .inline-button {
        margin-top: 20px;
        padding: 5px;
        width: 150px;
    }

    .inline-error {
        margin: 0px;
        text-align: center;
    }

    .error-group {
        width: 75%;
    }

    #inline-link-group {
        min-height: 60px;
    }
}

@media screen and (max-width: 435px) {
    #login-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 405px) {
    #login-text {
        font-size: 21px;
    }
}

@media screen and (max-width: 365px) {
    #login-text {
        font-size: 19px;
    }
}

@media screen and (max-width: 290px) {
    .title {
        font-size: 36px;
    }
    .inline-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 190px) {
    #inline-link-group {
        margin: 0px;
        margin-top: 20px;
        padding: 0px;
    }
}