body {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin: 10%;
    margin-top: 50px;
    justify-content: center;
    
    background-color: #222831;
    font-family: "Montserrat";
}

.container {
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: left;
    color: #EEEEEE;
    background-color: #404348;
    
    border: 3px solid darkgrey;
    border-radius: 36px;
}

.wrapper {
    height: 700px;
}

.column1,
.column2 {
    height: 100%;
    float: left;
}

.column1 {
    background-image: url(../login_photo.jpeg);
    background-size: cover;
    opacity: 0.65;
    border-radius: 36px 0px 0px 36px;
    width: 50%;
}

.column2 {
    width: 50%;
    display: grid;
    align-items: center;
}

.inline-group {
    display: flex;
    flex-direction: column;
}

.inline-text {
    text-align: left;
    margin: 5px;
    margin-right: 5%;
    padding-left: 20%;
    
    font-size: 18px;
    text-shadow: #292929 1px 1px;
    font-weight: 600;
}

.inline-input {
    width: 60%;
    height: 26px;
    align-self: center;
    margin: 5px;
    padding: 5px;

    font-size: 16px;
    font-weight: 500;

    border: 2px solid #cccccc;
    border-radius: 5px;
    box-shadow: #292929 2px 2px;
    transition: transform 0.3s ease-out, border 0.2s ease-out, border-color 0.3s ease-out, background-color 0.3s ease-out;
    outline: none;
}

.inline-input:focus {
    border-color: black;
    outline: none;
    transform: scale(1.05);
}

.inline-input:hover {
    transform: scale(1.05);
}

.inline-error {
    text-align: center;
    color: #dc3545;
    font-size: 14px;
}

.inline-button {
    cursor: pointer;
    width: 30%;
    height: 44px;
    font-size: 16px;
    color: white;
    background-color: #6c757d;
    align-self: center;
    margin: 10px;
    margin-top: 30px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 4px;
    transition: background-color 0.2s ease-out, border 0.2s ease-out;
    outline: none;
    font-family: "Montserrat";
}

.inline-button:hover {
    background-color: #222831;
}

.inline-button:active {
    border: 2px solid white;
    color: #222831;
    background-color: white;
}

.title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-shadow: #292929 2px 2px;
    cursor: default;
}

.error-group {
    background-color: #dc3545;
    text-align: center;
    padding: 5px;
    margin: 10px;
    color: white;
    border: white 2px solid;
    border-radius: 3px;
    min-width: 50px;
    min-height: 50px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: monospace;
}

.inline-link-group {
    height: 5%;
    min-height: 50px;

    margin: 20px;
    color: black;
    border: gray 1px solid;
    border-radius: 4px;
    background-color: #BCD4E6;
    justify-content: center;
}

.inline-link {
    color: #7ab4e3;
}

.inline-link:hover {
    color: #3f7099;
}

.inline-link:active {
    color: #58b1fa;
}

.register-text {
    padding: 0;
    width: 100%;
    text-align: center;
    text-shadow: none;
}

@media screen and (max-width: 1300px) {
    body {
        overflow: auto;
    }
    .column1 {
        background-image: url(../login_vertical_image.jpg);
        background-size: cover;
        opacity: 0.6;
        width: 35%;
    }
    .register-text {
        padding: 0px !important;
    }
    .column2 {
        width: 65%;
        height: 100%;
    }
    .inline-input {
        width: 70%;
    }
    .inline-text {
        padding-left: 15%;
    }
    .inline-button {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {

    body {
        margin: 0 !important;
        padding: 0 !important;
        user-select: none;
        background: none;
    }
    .background {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw !important;
        height: 100vh !important;
        background-image: url("../login_vertical_image.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: 100vw 100vh;
    }
    .container {
        border-radius: 0px;
        backdrop-filter: blur(8.4px);
        -webkit-backdrop-filter: blur(8.4px);
        width: 100vw !important;
        height: 100vh !important;
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        position: relative;
        z-index: 9999;
    }

    .wrapper {
        width: 100%;
        height: 100%;
    }

    .column1 {
        display: none;
    }

    .column2 {
        width: 100%;
    }
    
    .title {
        margin-top: 0px;
        font-size: 40px;
        font-weight: bold;
    }
    
    .inline-text {
        text-align: center;
        font-size: 20px;
        padding: 5px;
        margin: 5px;
    }
    
    .inline-input {
        width: 85%;
        height: 20px;
        padding: 10px;
    }

    .inline-button {
        margin-top: 20px;
        padding: 5px;
        width: 50%;
        height: 50px;
    }

    .inline-error {
        margin: 0px;
        text-align: center;
    }
}

@media screen and (max-width: 435px) {
    .inline-text {
        font-size: 18px;
    }

    .inline-input {
        padding: 5px;
    }
}

@media screen and (max-width: 405px) {
    #login-text {
        font-size: 21px;
    }
}

@media screen and (max-width: 365px) {
    #login-text {
        font-size: 19px;
    }
}

@media screen and (max-width: 290px) {
    .title {
        font-size: 36px;
    }
    .inline-text {
        font-size: 18px;
    }
}