body {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin: 10%;
    margin-top: 50px;
    justify-content: center;
    overflow: hidden;
    
    background-color: #222831;
    font-family: "Montserrat";
    overflow-y: auto;
}

.bg {
    display: none;
}

.container {
    width: 100%;
    min-height: calc(100vh -100px);
    align-items: center;
    text-align: left;
    color: #EEEEEE;
    background-color: #404348;
    
    border: 3px solid darkgrey;
    border-radius: 36px;
}

.wrapper {
    height: 700px;
}

.registration-wrapper {
    height: inherit;
    display: grid;
    align-items: center;
}

.column1,
.column2 {
    height: inherit;
    float: left;
    width: 50%;
    height: 100%;
}

.column1 {
    min-height: 550px;
}

.column2 {
    min-height: 550px;
    height: 100%;
    border-radius: 0 36px 36px 0;
}

.registration-page-wrapper {
    min-height: 550px;
    height: inherit;
}

.image-container {
    min-height: 550px;
    height: 100%;
    width: 100%;
}

.image-wrapper {
    min-height: 550px;
    width: 100%;
    height: 100%;
    background-image: url('../login_photo.jpeg');
    opacity: 0.6;
    background-size: cover;
    border-radius: 0 36px 36px 0;
}

.inline-group {
    display: flex;
    flex-direction: column;
    height: 7%;
}

.inline-text {
    text-align: left;
    margin: 5px;
    padding-left: 7%;
    
    font-size: 18px;
    text-shadow: #292929 1px 1px;
    font-weight: 600;
}

.inline-input {
    width: 85%;
    height: 26px;
    align-self: center;
    margin: 5px;
    padding: 5px;

    font-size: 16px;
    font-weight: 500;

    border: 2px solid #cccccc;
    border-radius: 5px;
    box-shadow: #292929 2px 2px;
    transition: transform 0.3s ease-out, border 0.2s ease-out, border-color 0.3s ease-out, background-color 0.3s ease-out;
    outline: none;
}

.inline-input:focus {
    border-color: black;
    outline: none;
    transform: scale(1.05);
}

.inline-input:hover {
    transform: scale(1.05);
}

.inline-link-group {
    height: 5%;
    min-height: 50px;

    margin: 20px;
    justify-content: center;
    text-align: center;
    color: black;
    border: gray 1px solid;
    border-radius: 4px;
    background-color: #BCD4E6;
}

#login-text {
    padding-left: 0px;
    text-align: center;
    text-shadow: none;
}

.inline-link {
    color: #7ab4e3;
}

.inline-link:hover {
    color: #3f7099;
}

.inline-link:active {
    color: #58b1fa;
}

.inline-error {
    text-align: left;
    color: #dc3545;
    font-size: 14px;
    margin-left: 7%;
}

.inline-button {
    cursor: pointer;
    width: 30%;
    height: 44px;
    font-size: 16px;
    color: white;
    background-color: #6c757d;
    align-self: center;
    margin: 10px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 4px;
    transition: background-color 0.2s ease-out, border 0.2s ease-out;
    outline: none;
}

.inline-button:hover {
    background-color: #222831;
}

.inline-button:active {
    border: 2px solid white;
    color: #222831;
    background-color: white;
}

.title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-shadow: #292929 2px 2px;
}

.error-group {
    background-color: #dc3545;
    text-align: center;
    padding: 5px;
    margin: 10px;
    color: white;
    border: white 2px solid;
    border-radius: 3px;
    min-width: 50px;
    min-height: 50px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: monospace;
}

.registration-unsuccessful {
    text-align: center;
    color: #df3647;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: 2s opacity ease-out;
}

.registration-successful {
    text-align: center;
    color: #28a745;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: 2s opacity ease-out;
}

.captcha-container {
    margin: 10px;
    display: flex;
    justify-content: center;
}

#inline-link-group {
    margin-top: 10px;
}

.inline-group:nth-of-type(5) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 8%;
    margin-right: 5%;
}

.checkbox-group,
.captcha-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.checkbox-group > .inline-error,
.captcha-container > .inline-error{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline-checkbox-text {
    font-size: 13px;
    margin-left: -40px;
}

#policy-checkbox {
    margin-top: 10px;
    z-index: 1;
}

.registration-wrapper {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(35, 35, 35, 0.9);
}

.registration-popup {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start;
    width: 500px;
    min-height: 150px; 
    margin: 10px;
    padding: 10px;
    border: 4px solid rgb(5, 107, 17);
    background-color: white;
    color: black;
    border-radius: 4px;
    position: relative;
}

.failed-registration-popup {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start;
    width: 500px;
    min-height: 150px; 
    margin: 10px;
    padding: 10px;
    border: 4px solid rgb(182, 19, 19);
    background-color: white;
    color: black;
    border-radius: 4px;
    position: relative;
}

.failed-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#svg_x {
    cursor: pointer;
}

hr {
    width: 100%;
    opacity: 0.6;
}

.content {
    text-align: justify;
    margin-right: 50px;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: flex-end; 
    width: 100%;
    margin-top: 10px;
}

.inline-group:nth-of-type(5) {
    align-items: center;
}

#policy-checkbox {
    margin-right: 20px;
    vertical-align: middle;
}

#button_login {
    border: 2px solid black;
    text-align: center;
    color: black;
    align-content: center;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 150px;
    transition: all 0.2s ease-out;
    text-decoration: none;
}

#button_login:hover {
    background-color: rgb(5, 107, 17);
    color: white;
}

#button_login_2 {
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 6px;
    cursor: pointer;
    height: 40px;
    width: 150px;
    transition: all 0.2s ease-out;
}

#button_login_2:hover {
    background-color: rgb(22, 121, 34);
    color: white;
}

#button_okay {
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 120px;
    transition: all 0.2s ease-out;
    background-color: rgb(83, 83, 83);
    color: white;
}

#button_okay:hover {
    background-color: rgb(181, 46, 46);
    color: white;
}

@media screen and (max-width: 1300px) {
    .column1 {
        width: 65%;
    }
    .column2 {
        width: 35%;
    }
    .image-wrapper {
        background-image: url("../login_vertical_image.jpg");
    }
    .inline-input {
        width: 70%;
    }
    .inline-text {
        padding-left: 15%;
    }
    .inline-button {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    body {
        margin: 0 !important;
        padding: 0 !important;
        user-select: none;
        background: none;
    }
    .background {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw !important;
        height: 100vh !important;
        background-image: url("../login_vertical_image.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: 100vw 100vh;
    }
    .container {
        background: rgba(255, 255, 255, 0.25);
        border-radius: 0px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.4px);
        -webkit-backdrop-filter: blur(8.4px);
        width: 100vw !important;
        height: 100vh !important;
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        position: relative;
        z-index: 9999;
    }
    
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .column1 {
        width: 90%;
    }
    
    .column2 {
        display: none;
    }
    
    .title {
        margin-top: 0px;
        font-size: 40px;
        font-weight: bold;
    }
    
    .inline-text {
        text-align: center;
        font-size: 20px;
        padding: 5px;
        margin: 5px;
    }
    
    .inline-input {
        width: 100%;
        height: 20px;
        padding: 10px;
    }

    .inline-button {
        margin-top: 20px;
        padding: 5px;
        width: 150px;
    }

    .inline-error {
        margin: 0px;
        text-align: center;
    }

    .inline-group:nth-of-type(5) {
        align-items: center;
    }

    .error-group {
        width: 75%;
    }

    #inline-link-group {
        margin-top: 10px;
        min-height: 60px;
    }

    #policy-checkbox {
        vertical-align: auto;
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 435px) {
    .inline-text {
        font-size: 18px;
    }

    .inline-input {
        padding: 5px;
    }

    .inline-checkbox-text {
        font-size: 14px;
    }
    
    #login-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 405px) {
    #login-text {
        font-size: 21px;
    }
}

@media screen and (max-width: 365px) {
    #login-text {
        font-size: 19px;
    }

    #policy-label {
        vertical-align: middle;
        font-size: 16px;
    }
}

@media screen and (max-width: 290px) {
    .title {
        font-size: 36px;
    }
    .inline-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 290px) {
    #aszf-label {
        font-size: 14px;
    }
}

@media screen and (max-width: 190px) {
    #inline-link-group {
        margin: 0px;
        margin-top: 20px;
        padding: 0px;
    }
}