.my-sidebar {
    -ms-flex: 0 0 230px;
    flex: 0 0 230px; 
    
    }

@media (max-width: 890px) {
    .my-sidebar {
      display: none; 
    } 
  }

  ::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: red;
  }